/* General Demo Style */
html { height: 100%; width:100%; font-size: 100%; overflow:hidden;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clr {
	clear:both;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
::selection {
	color:#FFF;
	background-color:#18181a;
	text-shadow:none;
}
::-moz-selection {
	color:#FFF;
	background-color:#18181a;
	text-shadow:none;
}
body {
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: #020202;
  height:100%;
  width:100%;
  overflow-y:scroll;
  cursor:default;

  background-image: url('img/bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  overflow-y: auto;
}
a {
	border:0;
	outline:0;
	text-decoration:none;
}
#home {
	width:100%;
	height:100%;
	position: relative;
}
.homecontainer {
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 5%;
	position:absolute;
	top:40%;
}
.mynameis {
	font-size:35px;
	color:#FFF;
	text-shadow:0px 0px 2px #18181a;
}
.ido {
	font-size:28px;
	width:100%;
	color:#b9b9b9;
	margin-bottom:0.8em;
}
.location {
	background-position:center left;
	color:#b9b9b9;
	font-size:12px;
	width:170px;
	padding-left:25px;
	margin:1em auto 1em;
	height:25px;
	line-height:25px;
  background-image: url('img/location.png');
  background-repeat:no-repeat;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.divide {
	border-bottom:solid 1px #f05f3b;
	clear:both;
	width:180px;
	height:1px;
	margin:0 auto;
}

ul.social{
  width: 350px;
  margin:1em auto;
  list-style:none;
  overflow:hidden;
}
ul.social li{
  width:42px;
  height:42px;
  margin: 0 4px;
  float: left;
  padding: 0px;
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
ul.social li a {margin: 0px; display: block; width: 100%; height: 100%;}

ul.social li.email { background-position: 0px 0px; }
ul.social li.twitter { background-position: 0px -42px; }
ul.social li.instagram { background-position: 0px -84px; }
ul.social li.facebook { background-position: 0px -126px; }
ul.social li.tumblr { background-position: 0px -168px; }
ul.social li.github { background-position: 0px -210px; }
ul.social li.linkedin { background-position: 0px -252px; }

ul.social li.email:hover { background-position: -42px 0px; }
ul.social li.twitter:hover { background-position: -42px -42px; }
ul.social li.instagram:hover { background-position: -42px -84px; }
ul.social li.facebook:hover { background-position: -42px -126px; }
ul.social li.tumblr:hover { background-position: -42px -168px; }
ul.social li.github:hover { background-position: -42px -210px; }
ul.social li.linkedin:hover { background-position: -42px -252px; }





@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fly {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-o-keyframes fly {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes fly {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}